body{
    background-color: bisque;
}

hr{
    border-style: dashed;
}

#viewport{
    z-index: -1;
    padding-top: 0%;
    top: 0%;
}

#hero{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*top: 50px;*/
}

#hero h1{
    text-align: center;
    margin: 0.3rem 0 0 0;
}

/*Boostrap modif*/
.carousel-indicators {
    position: relative;
}

.carousel-indicators button{
    background-color: black !important;
    border-radius: 100%;
    width: 0.5rem !important;
    height: 0.5rem !important ; 
}