hr{
    margin: 0 8%;
    height: 1px;
    border: none;
    background-color: var(--terciary-gray);
}

/*Image HERO like*/

.carousel-nostros{
    
    overflow: hidden;
}

.carousel-nosotros-track{
    position: relative;
    display: inline-flex;
    z-index: -100;
    will-change: transform; 
}

.carousel-nosotros-track img{
    flex-shrink: 0;
    width: 300vw;
    /*
    */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NOSOTROS BLOCK*/
#nosotros-block{
    margin: 4rem 0rem;
}

/* NOSOTROS Secciones */
.nosotros-section h1, h2, p{
    margin: 0;
    padding: 0;
    color: var(--black-bg);
}

.nosotros-section{
    margin: 2.5rem 8%;
}

.nosotros-section > :nth-child(1){
    flex: 1;
    font-size: x-large;
}

.nosotros-section > :nth-child(2){
    flex: 2;
    margin-top: 0.5rem;
    padding-left: 0rem;
}

/*CONTACTO*/
#contacto a{
    color: var(--primary-blue);
}

/* FAQ */

#faq{
    list-style: none;
    border-radius: 16px;
    overflow: hidden;
}

#faq >li{
    border-bottom: 0.05rem solid var(--secondary-gray);
    background-color: var(--terciary-gray);
}

#faq li:hover{
    background-color: var(--secondary-gray);
}

#faq li.faq-downcorner{
    border-bottom: 0;
}

#faq button{
    background-color: transparent;
    text-decoration: none;
    border: 0;
    padding: 0;
}

#faq button img{
    min-width: 20px;
}

.answer{
    height: 0;
    color: transparent;
    overflow: hidden;
    padding: 0 0.85rem 0 3rem;
    transition: all 0.3s ease;
}

.answer-show{
    overflow: visible;
    height: auto;
    padding: 0.65rem 0.85rem 0.65rem 3rem;
    
    color: var(--black-bg); 
}

.answer-show a{
    text-decoration: none;
    color: var(--primary-blue);
}

.answer-hide{
    height: 0;
    display: none;
}

.answer ul{
    list-style: circle;
}

.nosotros-section li div{
    display: flex;
    padding: 0.65rem;
    font-size: x-small;
    gap: 1rem;
    
}

.nosotros-section li div h2{
    font-weight: 600;
}

/* PARTICIPANTES */
.particpantes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.8rem;
}

.particpantes h2{
    padding: 0.65rem 1.75rem;
    text-align: center;
    font-size: medium;
    font-weight: 600;

    background-color: white;
    text-decoration: none;
    
    box-shadow: 0px 4px 0px var(--terciary-gray);
    border-radius: 15px;

    overflow: hidden;
    padding: 1.25rem;
    margin-bottom: 0.35rem;

    transition: transform 0.3s ease-out, box-shadow 0.3s ease;
}

.particpantes h2:hover{
    transform: translateY(-4px);
    box-shadow: 0px 6px 3px var(--terciary-gray);
}

.particpantes a{
    text-decoration: none;
}

/* PANELES APOYO */
#apoyo-top{
    margin-bottom: 8rem;
}

#apoyo-top h1{
    margin: 3rem 8% 1rem 8%;
    text-align: center;
    color: var(--black-bg);
}

#apoyo-top > p{
    margin: 0 8% 3rem 8%;
}

#panel-top{
    margin: 0 8%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.panel{
    background-color: white;
    text-decoration: none;
    
    box-shadow: 0px 4px 0px var(--terciary-gray);
    border-radius: 15px;

    overflow: hidden;
    padding: 2rem;
    
    height: 115px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease;

    align-items: center;
    display: flex;
    justify-content: center;

    width: 80%;

}

#panel-top img{
    width: 65%;
}

.panel:hover{
    transform: translateY(-8px);
    box-shadow: 0px 12px 3px var(--terciary-gray);
}

/* LIST OBRAS */
#apoyo-list{
    margin: 3rem 8% 8rem 8%;
}

#apoyo-list h1{
    text-align: center;
    color: var(--black-bg);
}

#apoyo-list ul{
    margin: 0 0;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 0.8rem;
    flex-wrap: wrap;
}

#apoyo-list li{
    font-size: medium;
}

/* OBRAS faq */
.nosotros-section.apoyo{
    margin: 4rem 8% 4rem 8%;
}
.nosotros-section.apoyo > h1{
    text-align: left;
    margin-bottom: 1rem;
}    

@media (min-width: 576px) {

    .carousel-nosotros-track img{
        display: block;
        width: 150vw;
        margin-bottom: 0rem;
    }

    /* NOSOTROS block*/
    #nosotros-block{
        margin: 7rem 0rem;
    }

    /* NOSOTROS Secciones */
    
    .nosotros-section{
        display: flex;
        margin: 3rem 8%;
        flex-wrap: wrap;
    }
    
    .nosotros-section > :nth-child(1){
        font-size: xx-large;
    }

    
    .nosotros-section > :nth-child(2){
        margin-top: 0rem;
        padding-left: 0.2rem;
        font-size: x-large;
    }
    
    /* FAQ */
    #faq button img{
        min-width: 25px;
    }

    .nosotros-section li div{
        padding: 1.15rem;
        font-size: small;
    }

    .nosotros-section li div h2{
        font-weight: 500;
        font-size: x-large;
    }
    
    .answer{
        padding: 0 4rem 0 4rem;
    }

    .answer-show{
        overflow: visible;
        height: auto;
        padding: 0.65rem 4rem 2rem 4rem;
        color: var(--black-bg);
       
    }
    /* PARTICIPANTES */
    
    .particpantes{
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .particpantes a{
        flex: 1;
        width: 100%
    }

    .particpantes h2{
        font-size: x-large;
    }

    /*PANELES APOYO*/
    .nosotros-section.apoyo{
        display: block;
    }
    
    /* APOYO */
    #panel-top{
        margin: 0 15%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .panel{
        height: 175px;
        flex: 1;
    }

    .full-width{
        height: 115px;
        margin-top: 1rem;
        flex-basis: 100%;
    }

    #apoyo-top h1{
        margin: 3rem 0 1rem 0;
        text-align: center;
        font-size: xx-large;
    }
    
    #apoyo-top > p{
        margin: 0 15% 3rem 15%;
        font-size: x-large;
    }

    /* APOYO LIST */
    
    #apoyo-top{
        margin-bottom: 14rem;
    }

    #apoyo-list{
        margin: 0rem 0 14rem 0;
    }

    #apoyo-list h1{
        text-align: center;
        font-size: xx-large;
    }

    #apoyo-list ul{
        margin: 0.8rem 15%;
        padding: 0;
    }

    #apoyo-list li{
        font-size: x-large;
    }
      
}

