html{
    scroll-behavior: smooth;
}

body{
    font-family: "Urbanist", sans-serif;
    margin: 0;
    background-color: #f7f7f7;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

h1{
    color: #9d00ff;
}

h1, h2{
    font-weight: 800;
}

ul{
    margin: 0;
    padding: 0;
}

button{
    margin: 0;
}

#viewport{
    z-index: -1;
    padding-top: 0%;
    top: 0%;
}

p{
    margin-bottom: 1rem;
    padding: 0 1.8rem 0 1.8rem;
    text-align: left;
}

/* HEADER BAR */
header{
    background-color: black;
    
    width: 100%;
    
    z-index: 1000;
    display: flex;
    
    align-items: center;
    text-align: center;
    justify-content: space-between;

    padding: 0.0rem 0rem;
}

header img{
    max-width: 120px;
}

header > a{
    padding: 1.5rem;
}

/* NAV FUNCTION */

#toogle-menu{
   width: 46px;
   height: 46px;
   cursor: pointer;
   display: flex;
   align-items: center;
   padding-right: 1.5rem;
}

#toogle-menu div{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: end;
   width: 100%;
   height: 45%;
}

#toogle-menu span{
    background-color: #6f6f6f;
    display: block;
    height: 3px;
    width: 25px;
    transition: all 0.35s ease;
    position: relative;
}

#toogle-menu.cancel span:first-of-type{
    transform: rotate(135deg);
    top: 10px;
}

#toogle-menu.cancel span:nth-child(2){
    height: 0;
}

#toogle-menu.cancel span:nth-child(3){
    top: -8px;
    transform: rotate(-135deg);
}

#nav-menu{
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    text-align: right;
    
    
    background-color: black;
    /* anim */
    
    transition: max-height 0.3s ease, 
        padding 0.3s ease, 
        border 0.1s ease-out 0.1s;
}

.hidden {
    padding: 0;
    max-height: 0px;
    overflow: hidden;
}

.visible {
    max-height: 500px;
    padding: 1rem;
    right: 10;
}

#nav-menu ul{
    list-style-type: none;
}

#nav-menu li{
    margin-bottom: 1rem;
}

#nav-menu li a{
    /*
    color: #dadada;
    */
    color: #6f6f6f;
    text-decoration: none;
    transition: all 0.3s;
}

#nav-menu li a:hover{
    color: #FFFFFF;
}

/*Botón de Apoyo*/

#apoyoBtn{
    background-color: #9d00ff;
    
    text-decoration: none;
    border-radius: 45px;
    display: flex;
    padding: 0.4rem 1rem;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    width: fit-content;
    margin-left: auto;

    transition: all 0.4s ease;
}

#apoyoBtn:hover{
    transform:  scale(1.10);
}

#apoyoBtn img{
    width: 1rem;
    margin: 0;
    padding: 0;
    
}


/* LOADING SCREEN */

#loadig-screen{
    z-index: 2000;
    position: absolute;
    width:100vw ;
    height: 100vh;
    background: #B133FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SLIDER CAROUSEL*/

.carousel{
    overflow: hidden;
    margin: 0 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.slick-track{
    height: fit-content;
}

.carousel div img{
    width: 100vw;
    margin: auto;
}

.slick-dots{
    flex-grow: 1;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    margin: 0.35rem 1rem;
    list-style: none;
}
.slick-dots li{
    height: 0.3rem;
    width: 100%;
    background-color: #dadada;
}

.slick-dots li.slick-active button{
    width: 0%;
    display: block;
}

.slick-dots li button{
    width: 0%;
    height: 100%;
    color: transparent;
    border: 0 ;
    background-color: #9d00ff;
    padding: 0;
    display: none;
    
}

.slick-arrow{
    background-color: aqua;
}

.custom-next,
.custom-prev{
    background-color: none;
    border: none;
    outline: none;
    box-shadow: none;

    color: #9d00ff;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.5rem;
    width: 2.5rem;

    background-color: #f5f7f7; 
    /*
    border-radius: 50%;
    */

    font-size: 20px;
    cursor: pointer;
}

.custom-prev{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-95%);
    /*
    margin-left: 2%;
    */
    border-radius: 0 50% 50% 0;
}
.custom-prev img{
    transform: scaleX(-1);
}


.custom-next{
    position: absolute;
    
    left: 100%;
    
    transform: translateX(-100%);
    bottom: 50%;
    
    border-radius: 50% 0 0 50%;
}

/* MEDIUM CARDS */

.mediumCard{
    text-align: center;
    margin: 4rem 1rem 0 1rem;
}
.mediumCard h1{
    margin-bottom: 1rem;
    color: #6f6f6f;
    padding: 0.5rem 1rem;
}

#cards{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card{
    background-color: white;
    text-decoration: none;
    
    box-shadow: 0px 4px 0px #c0c0c0;
    border-radius: 15px;

    margin: 0 auto 2rem auto;
    overflow: hidden;
    
    transform: translateY(20px);
    
    max-width: 100%;
    text-decoration: none;
    /*anim opacity*/
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s ease;
}

.card.active{
    opacity: 1;
    transform: translateY(0);
    
}

.card.active:hover{
    transform: translateY(-8px);
    box-shadow: 0px 12px 3px #c0c0c0;
}

.card h3{
    margin-bottom: 0.25rem;
    margin-top: 0.75rem;
    font-weight: 800;
    font-size: large;
    padding: 0 0.75rem;
    color: rgb(39, 39, 39);
}

.cardDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*
    */
    padding: 0 0.75rem;
    margin-bottom: 0.75rem;
}

.cardDiv p{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 0.8rem;
    color: #6f6f6f;
}

.cardDiv a{
    font-weight: bolder;
    font-size: 32px;
    text-decoration: none;
    color: #9d00ff;
}

.cardDiv img{
    margin: 0;
    max-width: 23px;
}

/* REDES  */
#apoyo{
    margin: 2.5rem 0 5.5rem 0;
    background-color: #edd9fa;
    color: #6f6f6f;
    font-weight: 600;
    font-size: medium;
    padding: 1rem 1rem 3rem 1rem;
    margin-bottom: 0;
}

#apoyo h1{
    text-align: center;
}


#apoyo > div{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

#apoyo p{
    padding: 0;
    font-size: small;
    color: black;
    margin: 0;
}

#apoyo a{
    text-decoration: none;
    border-left: 2px solid #cc7bfd;
    text-align: center;
    padding: 1rem 0.5rem;
    
}

/* FOOTER */

footer{
    background-color: black;
    text-align: center;
    padding: 1.35rem 1rem;
   
    display: flex;
    justify-content: space-between;
    /*
    */
    align-items: center;

}

footer p{
    padding: 0;
    margin: 0;
    
    font-size: 1.08rem;
    color: white;
}

footer a{
    text-decoration: none;
}

footer div img{
    height: 28px;
    width: 28px;
    margin: 0 0.2rem;
}

.icon{
    height: 28px;
    width: 28px;
    margin: 0 0.2rem;
}

.icon:hover path{
    fill: #ffffff;
}

/*Dinamic change above a tablet*/

@media (min-width: 768px) {
    #hero h1{
        font-size: xx-large;
    }

    /* Dots carousel */

    .slick-dots{
        margin-left: 8%;
        margin-right: 8%; 
    }

    /* MEDIUM CARD */

    .mediumCard{
        margin-left: 8%;
        margin-right: 8%;    
    }

    #cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
    }
    .card{
        margin: 0 0 2rem 0;
        flex: 2;
        
    }
    .card img{
        width: 100%;
    }
    
    /* APOYO */
    #apoyo{
        padding-left: 30%;
        padding-right: 30%;
    }

    /*FOOTER*/

    footer{
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width: 992px){
    /* MEDIUM CARD */

    .mediumCard{
        margin-left: 15%;
        margin-right: 15%;
         
    }

    .mediumCard h1{
        font-size: xx-large;
        font-size: 3em;
    }

    /* Dots carousel */

     .slick-dots{
        margin-left: 15%;
        margin-right: 15%; 
    }

    /* NAV BAR */

    #toogle-menu{
        display: none;
    }

    header{
        padding: 1.5rem 0rem;
    }

    header img{
        max-width: 180px;
    }

    header > a{
        padding: 0;
        margin-left: 2rem;
    }

    nav{
        height: 100%;
        margin-right: 2rem;
    }

    #nav-menu{
        position: static;
        width: 100%;
        font-size: x-large;
        background-color: transparent;
        padding: 0;
        max-height: none;
        border: 0;
        overflow: visible;
        
    }

    #nav-menu button{
        display: none;
    }

    #nav-menu ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav-menu li{
        margin-bottom: 0;

    }

    #nav-menu ul > :nth-child(1){
        margin-right: 3rem;
        margin-bottom: 0;
        
    }

    #nav-menu ul :nth-child(2){
        margin-right: 3rem;
        margin-bottom: 0; 
    }

    .hidden {
        display: block;
    }

    /*Botón de Apoyo*/

    #apoyoBtn{
        background-color: #9d00ff;
        text-decoration: none;
        border-radius: 45px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    #apoyoBtn img{
        width: 1rem;
        margin: 0;
    }
}
