body{
    background-color: #ffe4c4;
}

hr{
    border-top: dashed;
    border-width: 4px;
    margin: 0;
    height: 3%;
}

.styled-btn{
    border: 0;
    border-radius: 15px;
    font-size: 0.8rem;
    width: 135px;
    height: 32px;
}

#viewport{
    z-index: -1;
    padding-top: 0%;
    top: 0%;
}

/* HERO */

#hero{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h1{
    text-align: center;
    margin: 0.3rem 0 0 0;
    font-size: 1.2rem;
    padding: 0 2rem 0 2rem;
}

#hero img{
    background-color: aqua;
    width: 70%;
    max-width: 360px;
}

.triangulos{
    position: relative;
    bottom: 16px;
    /*background-color: blueviolet;*/
    height: 16px;
    background-image: url(../newTriangle.svg);
    background-repeat: repeat-x;
}

/* Medio(video juego comic) cambio */
.medio{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.medio h1{
    margin-bottom: 4rem;
}

.medio h2{
    margin-bottom: 1rem;
}

.medio button{
    margin-top: 1rem;
}

.medio p, .medio h2{
    padding: 0 1.5rem 0 1.5rem;
}

/* carrules */

.miniGalery{
    visibility: hidden;
    height: 0%;
}

.miniGalery img{
    width: 25%;
}

@media (min-width: 768px) {
    .carousel{
        visibility: collapse;
        height: 0%;
    }
    
    .miniGalery{
        visibility: visible;
        height: auto;
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-bottom: 2rem;
    }
}


/* contact*/
#contacto{
    margin: 5rem 0 5.5rem 0;
    text-align: center;
    padding: 0 2.2rem 0 2.2rem;   
}

#contacto form{
    margin-bottom: 0;
}

input, textarea{
    width: 100%;
    margin-bottom: 0.8rem;
    border-radius: 15px;
    max-height: 5%;
    border: 0;
    background-color: gainsboro;
    padding: 0.5rem;
    color: white;
}

textarea{
    margin-bottom: 2rem;
    min-height: 30%;
}

@media (min-width: 768px) {
    form{
        width: 50%;
        display: block;
        margin: 0 auto;
    }


}

input::placeholder,
textarea::placeholder{
    color: white;
}

/*Footer*/
footer{
    background-color: black;
    text-align: center;
    padding: 3rem;
}

footer p{
    margin: 2.5rem 0 0 0;
    font-size: 0.8rem;
}

footer div div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

footer img{
    width: 30px;
    height: 30px;
}

#triangulosNegros{
    height: 16px;
    background-image: url(../blackTrinagle.svg);
    background-repeat: repeat-x;
    width: 100%;
}

/*Boostrap modif*/
.carousel-indicators {
    position: relative;
}

.carousel-indicators button{
    background-color: black !important;
    border-radius: 100%;
    width: 0.5rem !important;
    height: 0.5rem !important ; 
}

.carousel-indicators [data-bs-target] {
    opacity: 0.20 !important; /* Aplica opacidad a todos los indicadores */
}

.carousel-indicators .active {
    opacity: 1 !important; /* Asegura que el indicador activo tenga opacidad completa */
}

.carousel img{
    max-height: 310px;
    max-width: 343px;
    
}

.carousel-item div{
    background-color: black;
}