body{
    font-family: "Urbanist", sans-serif;;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

h1{
    color: #9d00ff;
}

h1, h2{
    font-weight: 800;
}

hr{
    border-top: dashed;
    border-width: 4px;
    margin: 0;
    height:0%;
    border-color: #b069db;
    opacity: 100%;
}

.styled-btn{
    border: 0;
    border-radius: 15px;
    font-size: 0.8rem;
    width: 135px;
    height: 32px;
}

#viewport{
    z-index: -1;
    padding-top: 0%;
    top: 0%;
}

/*Loading screen*/
#loadig-screen{
    z-index: 1000;
    position: absolute;
    width:100vw ;
    height: 100vh;
    background: #B133FF;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* HERO */

#hero{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#hero h1{
    text-align: center;
    text-shadow: black 1px 2px;
    margin: 0.3rem 0 0 0;
    font-size: 1.2rem;
    padding: 0 2rem 0 2rem;
    color: white;
}

#hero img{
    width: 70%;
    max-width: 360px;
    min-width: 224px;
}

.triangulos{
    position: relative;
    bottom: 16px;
    height: 16px;
    background-image: url(../newTriangle.svg);
    background-repeat: repeat-x;
    background-position: -16px ;
}

/* Medio(video juego comic) cambio */
.medio{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.medio h1{
    margin-bottom: 4rem;
}

.medio button{
    margin-top: 1rem;
}

.medio p, .medio h2{
    padding: 0 1.8rem 0 1.8rem;
    text-align: left;
}

.medio h2{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

#comics button.styled-btn{
    background-color: #00d464;
    color: white;
}

#videojuegos button.styled-btn{
    background-color: #ff2349;
    color: white;
}

/* carruseles */

.miniGalery{
    visibility: hidden;
    height: 0%;
}

.miniGalery img{
    width: 25%;
}

/* contact*/
#contacto{
    margin: 5rem 0 5.5rem 0;
    text-align: center;
    padding: 0 2.2rem 0 2.2rem;   
}

#contacto h1{
    margin-bottom: 4rem;
}

#contacto form{
    margin-top: 2rem;
    margin-bottom: 0;
}

#contacto p{
    text-align: left;

}

input, textarea{
    width: 100%;
    margin-bottom: 0.8rem;
    border-radius: 15px;
    max-height: 5%;
    border: 0;
    background-color: gainsboro;
    padding: 0.5rem;
    color: white;
}

textarea{
    margin-bottom: 2rem;
    min-height: 30%;
}

#contacto button{
    background-color: #9d00ff;
    color: white;
}

input::placeholder,
textarea::placeholder{
    color: white;
}

/*Footer*/
footer{
    background-color: black;
    text-align: center;
    padding: 3rem;
}

footer p{
    margin: 2.5rem 0 0 0;
    font-size: 0.8rem;
    color: white;
}

footer div div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

footer img{
    width: 30px;
    height: 30px;
}

#triangulosNegros{
    height: 16px;
    background-image: url(../blackTrinagle.svg);
    background-repeat: repeat-x;
    width: 100%;
    background-position: -16px ;
}

/*Dinamic change*/

@media (min-width: 768px) {
    .medio p {
        font-size: 1.1rem;
        text-align: center;
        padding: 0 3.5rem 0 3.5rem;
    }

    .carousel{
        visibility: collapse;
        height: 0%;
    }
    
    .miniGalery{
        visibility: visible;
        height: auto;
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-bottom: 2rem;
    }

    form{
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    #contacto p {
        width: 50%;
        margin: 1.2rem auto;
        font-size: 1.1rem;
        text-align: center;
    }
}

/*Boostrap modif*/
.carousel-indicators {
    position: relative;
}

.carousel-indicators button{
    background-color: black !important;
    border-radius: 100%;
    width: 0.5rem !important;
    height: 0.5rem !important ; 
}

.carousel-indicators [data-bs-target] {
    opacity: 0.20 !important; /* Aplica opacidad a todos los indicadores */
}

.carousel-indicators .active {
    opacity: 1 !important; /* Asegura que el indicador activo tenga opacidad completa */
}

.carousel img{
    max-height: 310px;
    max-width: 343px;
    
}

.carousel-item div{
    background-color: black;
}