<div class="carousel-nostros">
    <div class="carousel-nosotros-track" >
      <img src="./assets/Nosotros_2.webp" loading="lazy" alt="taller de cartas">
      <img src="./assets/Nosotros_2.webp" loading="lazy" alt="taller de cartas">
      <img src="./assets/Nosotros_2.webp" loading="lazy" alt="taller de cartas">
      <img src="./assets/Nosotros_2.webp" loading="lazy" alt="taller de cartas">
    </div>
</div>

<section id="apoyo-top">
  <h1>PUEDES APOYARNOS</h1>
  <p>Nos encanta hacer arte, siempre procuramos crear algo que valga la pena, sin embargo esto demanda demasiado de nuestro tiempo libre, así que si disfrutas de nuestras obras puedes apoyarnos donando para que sigamos aquí y tener una calidad de vida un poquito mejor.
    <br>
    <br>
    Puedes donar en alguna de estas páginas:
  </p>
  <div id="panel-top">
    <div id="kofi" class="panel" >
      <img src="./assets/brand/kofi_logo.png" alt="">
    </div>
    <a id="patreon" class="panel" href="https://www.patreon.com/sconin" target="_blank">
      <img src="./assets/brand/PATREON_SYMBOL_1_BLACK_RGB.png" alt="patreon ">
      <img src="./assets/brand/PATREON_WORDMARK_1_BLACK_RGB.png" alt="">
    </a>
  </div>

</section>

<section id="apoyo-list">
  <h1>AGRADECIMIENTOS ESPECIALES</h1>
  <ul>
    <li>Ramiro</li>
    <li>Nora</li>
    <li>Adán</li>
    <li>Liz</li>
    <li>lorem impsum</li>
    <li>lorem impsum</li>
    <li>lorem impsum</li>
    <li>lorem impsum</li>
  </ul>
</section>
<!--
  <hr>
  <section class="nosotros-section apoyo">
    <h1>PREGUNTAS FRECUENTES</h1>
    <ul id="faq">
    </ul>
  </section>
-->
