<div class="carousel-nostros">
    <div class="carousel-nosotros-track" >
      <img src="./assets/apoyo.webp" loading="lazy" alt="taller de cartas">
      <img src="./assets/apoyo.webp" loading="lazy" alt="taller de cartas">
    </div>
</div>

<section id="apoyo-top">
  <h1>AYÚDANOS A CONTINUAR</h1>
  <p>
    Nos encanta hacer arte. Siempre nos esforzamos por crear el tipo de obras que nos gustaría ver y apreciamos la compañía de quienes disfrutan lo que hacemos.
    <br>
    <br>
    Sin embargo, esto es un gran riesgo para nuestra economía, pues lo hacemos en nuestro tiempo libre y es difícil cubrir siquiera los costos de su creación y mantenimiento (como pagar el trabajo de cada obra, derechos de autor e incluso esta página web).
    <br>
    <br>
    Así que si disfrutas de lo que hacemos, te invitamos a realizar un donativo para que sigamos aquí y tener una calidad de vida un poquito mejor.
    <br>
    <br>
    Puedes donar en cualquiera de las siguientes páginas:
  </p>
  <div id="panel-top">
    <a href="https://ko-fi.com/sconin" id="kofi" class="panel" target="_blank">
      <img src="./assets/brand/kofi_logo.png" alt="">
    </a>
    <a id="patreon" class="panel" href="https://www.patreon.com/sconin" target="_blank">
      <img src=".\assets\brand\patreon_logo.png" alt="patreon ">
    </a>
  </div>

</section>

<section id="apoyo-list">
  <h1>AGRADECIMIENTOS ESPECIALES</h1>
  <ul>
    <li>Ramiro Villarreal</li>
    <li>Adan Medrano</li>
    <li>Nora Díaz</li>
    <li>Lyeh Uzaky</li>
    <li>Ana Torres</li>
  </ul>
</section>

