<section id="welcome">
    <div class="carousel">
    <div><img class="banner" alt="cat cartoon"></div>
    <div><img class="banner" alt="cat cartoon"></div>
    </div>
</section>
  
<section class="mediumCard">
    <h1>OBRAS</h1>
    <div id="cards"></div>
</section>

<section id="apoyo" >
    <h1>¿QUIERES APOYAR?</h1>
    <div>
        <p>
        Recuerda que SCONIN es impulsado principalmente por donaciones. Si has disfrutado de alguna de nuestras obras considera apoyarnos para que podamos seguir creando.
        </p>
        <a href="apoyo" data-navigo><img src="./assets/east_Icon.svg" alt=""></a>
    </div>
</section>