<section id="welcome">
    <div class="banner-container">
        <img id="banner" alt="Hacemos Entretenimiento banner">
        <h1>Hacemos arte y entretenimiento</h1>
    </div>
</section>
  
<section class="mediumCard">
    <h1>ELIGE UNA OBRA</h1>
    
    <div id="cards"></div>
</section>

<section id="apoyo" >
    <h1>¿Te gustaría que sigamos existiendo?</h1>
    <div>
        <a class="nav-link" href="apoyo" data-navigo >
            <button>DONAR</button>
        </a>
    </div>
</section>