
<div class="carousel-nostros">
  <div class="carousel-nosotros-track" >
    
    <img src="./assets/banner_nosotro_01.webp" loading="lazy" alt="taller de cartas">
    <img src="./assets/banner_nosotro_01.webp" loading="lazy" alt="taller de cartas">
  </div>
</div>

<div id="nosotros-block">
  <div class="nosotros-section">
    <h1>
      QUÉ ES SCONIN
    </h1>
    <p>
      Somos un estudio de entretenimiento underground fundado el 12 de marzo del 2022 por Chuy Fonseca y Héctor Muñoz. Radicamos en la zona metropolitana de Nuevo León, México.
    </p>
  </div>
  <hr>
  
  <div class="nosotros-section" >
    <h1>
      NUESTRO OBJETIVO
    </h1>
    <p>
      Nuestro objetivo es crear obras artísticas accesibles que puedan disfrutar las personas de nuestra sociedad e incluso resonar en su vida.
    </p>
  </div>
  <hr>
  
  <section class="nosotros-section">
      <h1>
        PREGUNTAS FRECUENTES
      </h1>
      <ul id="faq">
      </ul>
  </section>
  
  <hr>
  
  <section id="team" class="nosotros-section">
    <h1>EQUIPO</h1>
    <div>
      <p>
        Nuestro equipo se compone de las siguientes personas.
      </p>
      <div class="particpantes">
        <a href="https://www.instagram.com/hectormunnoz/" target="_blank">
          <h2>Héctor Muñoz</h2>
        </a>
        <a href="https://jesusroberto64.github.io/Portafolio-JS-WEBPACK/" target="_blank">
          <h2>Chuy Fonseca</h2>
        </a>
      </div>
    </div>
  </section>
  
  <hr>
  
  <section id="contacto" class="nosotros-section">
    <h1>CONTACTO</h1>
    <p>
      Si por algún motivo te gustaría estar en contacto, puedes enviarnos un correo electrónico a
      <a href="mailto:sconin.entmt@gmail.com">sconin.entmt@gmail.com</a>
    </p>
  </section>
</div>
