
<div class="carousel-nostros">
  <div class="carousel-nosotros-track" >
    <img src="./assets/Nosotros_1.webp" loading="lazy" alt="taller de cartas">
    <img src="./assets/Nosotros_1.webp" loading="lazy" alt="taller de cartas">
    <img src="./assets/Nosotros_1.webp" loading="lazy" alt="taller de cartas">
    <img src="./assets/Nosotros_1.webp" loading="lazy" alt="taller de cartas">
  </div>
</div>

<div class="nosotros-section">
  <h1>
    QUÉ ES SCONIN
  </h1>
  <p>
    SCONIN es un estudio creativo underground fundado el 12 de Marzo del 2022 por Chuy Fonseca y Héctor Muñoz. Ambos radican en la zona metropolitana de Nuevo León, México.
  </p>
</div>
<hr>

<div class="nosotros-section" >
  <h1>
    NUESTRA MISIÓN
  </h1>
  <p>
    Nuestra misión es crear obras artísticas que sean accesibles para las personas de nuestra localidad. Creemos firmemente que con obras pequeñas y modestas pero con gran atención al contenido podemos tener una conexión genuina y significativa con nuestra sociedad.
  </p>
</div>
<hr>

<section class="nosotros-section">
    <h1>
      PREGUNTAS FRECUENTES
    </h1>
    <ul id="faq">
    </ul>
</section>

<hr>

<section id="team" class="nosotros-section">
  <h1>EQUIPO</h1>
  <div>
    <p>
      SCONIN está conformado fundamentalmente por un grupo pequeño de artistas.
    </p>
    <div class="particpantes">
      <a href="https://jesusroberto64.github.io/Portafolio-JS-WEBPACK/" target="_blank">
        <h2>Chuy Fonseca</h2>
      </a>
      <h2>Héctor Muñoz</h2>
    </div>
    <p>
      En algunas ocasiones tenemos la oportunidad de contar con el trabajo de los siguientes artistas.
    </p>
    <div class="particpantes">
      <h2>Ana Torres</h2>
    </div>
  </div>
</section>

<hr>

<section id="contacto" class="nosotros-section">
  <h1>CONTACTO</h1>
  <p>
    Si por cualquier motivo te gustaría estar en contacto, puedes enviarnos un correo electrónico a 
    <a href="#">contacto@sconin.com</a>
  </p>
</section>

<section id="apoyo" >
  <h1>¿QUIERES APOYAR?</h1>
  <div>
      <p>
      Recuerda que SCONIN es impulsado principalmente por donaciones. Si has disfrutado de alguna de nuestras obras considera apoyarnos para que podamos seguir creando.
      </p>
      <a href="apoyo" data-navigo ><img src="./assets/east_Icon.svg" alt=""></a>
  </div>
</section>